data/
data_optimized_full/
generated_hands/
generated_hands_old/
generated_hands_test/
old_data/
generated_EW/
generated_optimized_NS/
data_EW/
data_optimized_NS/
generated_hands_optimized_full/
generated_2v2_1.1/
data_2v2_1.1/
